.services_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.provide_text {
    font-size: 55px;
    color: rgb(245, 39, 32) !important;
    font-weight: 600;
}

.services_text {
    color: rgb(21, 59, 68) !important;
    font-size: 40px;
}

.provide {
    color: rgb(36, 170, 108);
}

.view_project{
     margin-left: -200px;
}


.more_services {
    background-color: rgb(26, 26, 43) !important;
   


}