.services_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.provide_text {
    font-size: 55px;
    color: #f52720 !important;
    font-weight: 600;
}

.services_text {
    color: #153b44 !important;
    font-size: 40px;
}

.provide {
    color: #24aa6c;
}

.view_project{
     margin-left: -200px;
}


.more_services {
    background-color: #1a1a2b !important;
   


}