.service {
  text-align: center;
  cursor: pointer;
}

.service img {
  width: 20%;
}

.card {
  width: 50ch;
  height: 40ch;
  border-radius: 5px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.service_fee {
  font-size: 13px;
  font-weight: 600;
}

.describe_text {
  font-size: 13px;
  color: gray;
}

.app_button {
  background-color: rgb(202, 15, 77) !important;
  border: 1px solid rgb(218, 25, 67);
  color: white !important;
  border-radius: 4px;
}

@media only screen and (max-width: 688px) {
  .card {
    width: 40ch;
    height: 40ch;
  }
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
  .card {
    width: 40ch;
    height: 40ch;
  }
}
