.service {
    text-align: center;
    padding: 15px;
    cursor: pointer;
}

.service img {
    width: 20%;

}

.card {
    width: 35ch;
    height: 40ch;
    border-radius: 5px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
    border: 15px solid white;
}

.card:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.service_fee {
    font-size: 13px;
    font-weight: 600;
}

.describe_text {
    font-size: 13px;
    color: gray;
}