.add-review form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    margin-right: 800px;

}

.add-review form input,
textarea {
    width: 70%;
    margin-bottom: 10px;
    border: 1px solid brown;
    border-radius: 5px;
}

.add-product:hover {
    z-index: 1;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.color-text {
    font-size: 40px;
    color: rgb(18, 109, 114) !important;
    font-family: cursive;
}