.manage-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.word-color {
    font-size: 40px;
    color: rgb(177, 61, 61);
}

.manage-product {
    margin: 50px;
    padding: 10px;
    border: 1px solid rgb(228, 226, 226);
    height: 330px;
    border-radius: 7px;
}

.manage-product:hover {
    z-index: 1;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.description-text {
    font-size: 11px;
    color: rgb(117, 110, 110);
}

.name-text {
    font-size: 20px;
    color: rgb(97, 97, 97);
}

.price-text {
    font-size: 14px;
    color: rgb(82, 82, 82);
}

.butt-color {
    background-color: rgb(165, 219, 221) !important;
    color: rgb(7, 7, 7) !important;
}


@media only screen and (max-width:688px) {
    .manage-products {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:689px) and (max-width: 991px) {
    .manage-products {
        grid-template-columns: repeat(2, 1fr);
    }
}