.not-found img {
    width: 90%;
    height: 400px;
    margin: 15px;
    padding: 15px;
}

.btn {
    background-color: rgb(221, 68, 68) !important;

}

.btn-align {
    justify-content: center;
    align-items: center;
}

.fa-sad-tear {
    color: rgb(221, 68, 68) !important;
}