.order-product form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;


}

.order-product form input,
textarea {
    width: 60%;
    margin-bottom: 10px;
    border: 1px solid brown;
    border-radius: 5px;
}