.input-login {
    height: 480px;
    z-index: 1;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.login-btn {
    margin-left: 170px;
    background-color: rgb(64, 170, 117) !important;
    border-radius: 6px;
    margin-right: 500px;
    width: 20%;
}

.online-btn {
    background-color: #4b79c4;
    color: white;
    width: 150px;
    border: none;
    padding: 7px 5px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

.login_text {
    color: rgb(13, 76, 80) !important;
    font-size: 23px;
    font-weight: 600;
    font-family: monospace;
}


.login-button {
    background-color: rgb(60, 158, 161) !important;
}

.btn_google {
    background-color: #e04a39;
    border: 1px solid gray;
    color: white !important;
    border-radius: 7px;
    width: 23%;
    height: 15%;

}

.btn_github {
    background-color: #010201;
    border: 1px solid gray;
    color: white !important;
    border-radius: 7px;
    width: 23%;
    height: 15%;
}

.please_register{
    color: red !important;
    font-size: 15px;
    font-weight: 600;
}