.login_container{
    border: 1px solid gray;
    width: 40%;
    height: 80%;
    margin-left: 360px;
    text-align: center;
}

.login {
    color: rgb(228, 22, 108) !important;
    font-size: 27px;
    font-weight: 600;
    font-family: cursive;
}

.login_text {
    color: rgb(13, 76, 80) !important;
    font-size: 23px;
    font-weight: 600;
    font-family: monospace;
}


.login_button {
    background-color: rgb(218, 8, 78) !important;
    width: 50%;
}

.btn_google {
    background-color: #e04a39;
    border: 1px solid gray;
    color: white !important;
    border-radius: 7px;
    width: 23%;
    height: 15%;

}

.btn_github {
    background-color: #010201;
    border: 1px solid gray;
    color: white !important;
    border-radius: 7px;
    width: 23%;
    height: 15%;
}

.please_register {
    color: red !important;
    font-size: 15px;
    font-weight: 600;
}