#banner {
  background-color: #f7f6f3 !important;
  font-family: cursive;
  margin-top: 100px;
}

.tag_p {
  color: rgb(20, 20, 24) !important;
  font-size: 20px;
  font-weight: 600;
}

.program {
  color: rgb(248, 24, 36) !important;
  font-size: 25px;
}

.tag_small {
  color: black !important;
  font-size: 13px;
}

.banner_text {
  font-size: 13px;
  color: rgb(163, 160, 160);
}

.home_button {
  margin-right: 488px;
}

.button_color {
  background-color: rgb(218, 25, 67) !important;
  color: white !important;
  width: 55%;
  height: 40px;
  font-size: 20px;
  border-radius: 50px;
  border: 1px solid rgb(218, 25, 67);
}

@media only screen and (max-width: 688px) {
  /* #banner {
        background-color: #e0c475 !important;
        font-family: cursive;
    } */

  /* .banner_text {
        font-size: 10px;
        color: rgb(163, 160, 160);
        margin-left: -100px;
    } */

  .button_color {
    width: 30%;
    height: 40px;
    font-size: 9px;
  }

  .home_button {
    margin-right: -50px;
  }
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
  /* #banner {
        background-color: #e0c475 !important;
        font-family: cursive;
    } */

  .button_color {
    width: 150%;
    height: 40px;
    font-size: 15px;
  }

  .home_button {
    margin-right: 490px;
  }
}
