#navigation {
  background-color: #ffffff !important;
  height: 45px;
}

.nav_login {
  margin-bottom: 27px;
  color: black !important;
  font-weight: bolder;
}


.instagram {
  color: rgb(214, 60, 60) !important;
  margin-bottom: 27px;
}

.twitter {
  color: rgb(15, 112, 240) !important;
  margin-bottom: 27px;
}

.youtube {
  color: rgb(252, 7, 7) !important;
  margin-bottom: 27px;
}

.facebook {
  color: rgb(15, 94, 240) !important;
  margin-bottom: 27px;
}

.logout_button {
  background-color: rgb(218, 25, 67) !important;
  color: white !important;
  border: 1px solid rgb(218, 25, 67);
  border-radius: 50px;
  width: 40%;
  height: 40px;
}

#header {
  background-color: #ffffff !important;
  margin-top: 25px;
}

.header_section {
  background-color: #0b3a38 !important;
}

.image_tag {
  width: 10%;
}

#responsive-navbar-nav {
  color: #ffffff !important;
}

.nav_bar {
  font-size: 17px;
  color: #000000 !important;
  font-family: monospace;
  font-weight: bolder;
  border-bottom: 2px solid #e47878;
  border-top: 2px solid #e47878;
}

.nav_bar:hover {
  color: #fa6b0c !important;
  font-weight: 600;
}

@media only screen and (max-width: 688px) {
  #responsive-navbar-nav {
    color: #d31919 !important;
  }
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
  #responsive-navbar-nav {
    color: #ee1515 !important;
  }
}
