 .make_admin {
     margin-right: 300px;
     margin-top: 200px;
 }


 .admin_button {
     background-color: rgb(15, 115, 133) !important;
     color: white !important;
     border-radius: 5px;
     width: 40%;
 }