.view_project {
  margin-left: -180px;
}

.more_services {
  width: 40%;
  height: 40px;
  background-color: rgb(5, 5, 5) !important;
  border: 1px solid rgb(5, 5, 5);
  color: white !important;
  border-radius: 5px;
  font-size: 22px;
}

@media only screen and (max-width: 688px) {
  .view_project {
    margin-left: -80px;
  }
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
  .view_project {
    margin-left: -130px;
  }
}
