.view_project {
  margin-left: -180px;
}

.more-services {
  width: 10%;
  height: 45px;
  background-color: #ffffff !important;
  border: 1px solid #000000;
  color: #000000 !important;
  border-radius: 5px;
  font-size: 17px;
  
  
}

@media only screen and (max-width: 688px) {
  .view_project {
    margin-left: -80px;
  }
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
  .view_project {
    margin-left: -130px;
  }
}
