.manageALL-order {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 150%;
}



.manage_all {
    margin-left: -250px;
}


.manage_text {
    color: rgb(11, 102, 97) !important;
}


@media only screen and (max-width:688px) {
    .manageALL-order {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width:689px) and (max-width: 991px) {
    .manageALL-order {
        grid-template-columns: repeat(1, 1fr);
    }
}