.section-title {
    color: #f30c65 !important;
    font-family: cursive;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #fffcfc;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .front_side,
.image-flip.hover .front_side {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.main_flip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.front_side {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}


.front_side,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.front_side .card,
.backside .card {
    min-height: 410px;
}


.front_side .card .card-body img {
    width: 120px;
    height: 100%;
}

.fa-plus {
    color: white !important;
}

.btn_button {
    background-color: rgb(233, 15, 58) !important;
}

.card-title {
    color: rgb(133, 231, 22) !important;
    font-weight: 600;
    font-family: serif;

}

.title_text {
    color: rgb(233, 15, 58) !important;
    font-weight: 600;
    font-family: serif;
}

.card-text {
    text-align: start;
    color: rgb(10, 7, 7) !important;
    font-size: 15px;
}


@media only screen and (max-width:688px) {
    .section-title {
        color: rgb(221, 15, 118) !important;
        font-size: 35px;
        font-weight: 600;
    }

    .instructors {
        grid-template-columns: repeat(2, 1fr);
    }
}